@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* get rid of this */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.skip-to-content-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px;
  z-index: 100;
  transition: top 0.3s;
}

.skip-to-content-link:focus {
  top: 0;
}

html, body, body > div {
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, body > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header{
  grid-template-columns: repeat(2, 1fr);
  @media only screen and (max-width: 1100px) {
    grid-template-areas:'logo nav-button'
                        'nav nav';
    & img{
      grid-area: logo;
    }
    & button{
      grid-area: nav-button;
    }
    & nav{
      grid-area: nav;
    }
  }
}

main {
  flex-grow: 1;
}

main {
  flex: 1;
}

body.freeze {
    overflow: hidden;
}

main.freeze {
    filter: brightness(40%) blur(2px);
    background-color: #7d7d7d;
    pointer-events: none;
}


h2{
  font-size: 2rem;
  @media (min-width: 1640px) {
    font-size: 2.5rem;
  }
  font-weight: 400;
}

.text-justify{
  text-justify: inter-word;
} 

/* add media query like in pcp to change ratio for longer screens */
#founder-message{
  grid-template-columns: 45% 1fr;
  @media (min-width: 1640px) {
    grid-template-columns: 55% 1fr;
  }
  p{
    margin: 1.5rem 0;
  }
}

.split-section{
  .image{
    grid-area: img;
  }
  .copy{
    grid-area: copy;
  }
  grid-template-areas: "img copy";
  @media (min-width: 1024px) {
    grid-template-columns: 50% 1fr;
  }
  @media (min-width: 1640px) {
    grid-template-columns: 50% 1fr;
  }
}

.split-section.reverse{
  grid-template-areas: "copy img";
}

.outer{
  padding-top: 4rem;
  @media (min-width: 1024px) {
    padding-top: 4rem;
  }
  @media (min-width: 1640px) {
    padding-top: 7rem;
  }
}

#full-profile{
  @media (min-width: 750px) {
    grid-template-rows: initial;
    grid-template-columns: 42% 1fr;
  }
}

.serve-box{
  width: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--auxTitle);
  img{
    margin-bottom: 2rem;
  }
}

.inner-process{
  grid-template-columns: 60% 1fr;
}

.process-card{
  grid-template-columns: 60% 1fr;
}

#partners-grid{
  grid-template-areas:'ark bw ml' 
                      'fr mmm mmm';
  /* img{
    max-width: 20rem;
  } */
  #ark{
    grid-area: ark;
  }
    #bw{
    grid-area: bw;
  }
    #fr{
    grid-area: fr;
  }
    #ml{
    grid-area: ml;
  }
    #mmm{
    grid-area: mmm;
  }
}

.turn {
  display: inline-block;
  animation: turn-animation 1s linear infinite;
  transform-origin: center;
}

@keyframes turn-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  aspect-ratio: 1.154;
  background: repeating-conic-gradient(from -30deg,#027B7F 0 60deg,#FFA588 0 120deg,#BF1E62 0 180deg); 
  animation: l13 1.5s infinite alternate;
}

#l13{
  width: 140px;
  aspect-ratio: 1.154;
  background: repeating-conic-gradient(from -30deg,#027B7F 0 60deg,#FFA588 0 120deg,#BF1E62 0 180deg);
  animation: l13 1.5s infinite alternate;
}

svg {
  width:258px;
  height:258px;
}

.tree {
  fill: #70D392;
  animation: color-shift 1.5s infinite ease-out;
}

.circle-mask {
  transform-origin: 50% 90%;
  animation: scale 1.5s infinite ease-out;
}

@keyframes scale {
  0%, 100% {
    transform: scale(0.0);
  }
  7%, 90% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes color-shift {
  0%, 100% {
    fill: #FFA588;
  }
  50% {
    fill: #70D392;
  }
}

/* .rainbow {
  animation: rainbow-color-change 5s infinite;
} */

/* @keyframes rainbow-color-change {
  0% {
    color: rgb(112, 253, 69);
  }
  16.67% {
    color: rgb(122, 255, 248);
  }
  33.33% {
    color: rgb(201, 208, 250);
  }
  50% {
    color: rgb(123, 255, 244);
  }
  66.67% {
    color: rgb(149, 255, 151);
  }
  83.33% {
    color: rgb(146, 231, 220);
  }
  100% {
    color: rgb(236, 255, 113);
  }
} */

.rainbow{
  animation: pulse 2s infinite, fade 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    font-style: normal;
  }
  50% {
    font-style: oblique;
  }
}

@keyframes fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}